*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #383a45;
  --bg-color: #2d2e36;
  --title-color: #ffffff;
  --text-color: #8d91a6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 356px;
  background-color: var(--primary-color);
  padding: 1.6rem;
  border-radius: 8px;
}

.media {
  height: 290px;
  border-radius: 8px;
}

.title {
  color: var(--title-color);
  font-size: 1.875rem;
  line-height: 119.7%;
}

.description {
  color: var(--text-color);
  font-weight: 300;
}

@media screen and (min-width: 920px) {
  .card {
    width: 729px;
  }

  a {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 2.375rem;
  }

  .media {
    height: 100%;
  }

  .content {
    align-self: flex-end;
  }
}
